<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body style="background-color:#7994D3">
		<header> 
			<div>
					<% include ../partials/header %>
			</div>
		</header>
		<br>
		<div>
			<div class="container">	
				<div class="collapse" id="instructions">
					<div class="card card-body bg-dark text-white">
						<h2 class="text-center">Search Syntax</h2>
						<p><strong>all: all</strong> - Show All Records for All Tables</p>
						<p><strong>all: issues</strong> - Show All Records for Issues</p>
						<p><strong>all: events</strong> - Show All Records for Events</p>
						<p><strong>all: users</strong> - Show All Records for Users</p>
						<p><strong>all: garages</strong> - Show All Records for Garages</p>
						<p><strong>issues: description</strong> (ex: issues: toilet) - 
						Search Issue Records by Description</p>
						<p><strong>events: location</strong> (ex: events: Palmetto) - 
						Search Event Records by Location</p>
						<p><strong>users: email</strong> (ex: users: studentemail1@fau.edu) - 
						Search User Records by Email</p>
						<p><strong>garages: location</strong> (ex: garages: Nursing) - 
						Search Garage Records by Name</p>
					</div>
				</div>
			</div>

			<div class="container text-center">
				<fieldset>
					<form action='/' method="post">
						<input name="mysql_query" type="text" class="ghost-input" placeholder="Enter a Query" required>
						<input type="submit" class="ghost-button" value="Query">
					</form>
				</fieldset>
			</div>

			<div class="container text-center">
				<h2 class="text-center mt-2">Results</h2>
				<% if(issues.length > 0) { %>
					<table class="table table-striped">
						<h3 class="text-center mt-2">Issues</h3>
						<thead class="thead-dark">
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Description</th>
								<th scope="col">Location</th>
								<th scope="col">Verfied?</th>
								<th scope="col">Resolved?</th>
							</tr>
						</thead>
						<tbody>
							<% for(var i in issues) { %>
								<tr>
									<td><%= issues[i].issue_number %></td>
									<td><%= issues[i].description %></td>
									<td><%= issues[i].location %></td>
									<td>
										<% if(issues[i].verified) { %>
											Yes
										<% } else { %>
											No
										<% } %>
									</td>
									<td>
										<% if(issues[i].resolved) { %>
											Yes
										<% } else { %>
											No
										<% } %>
									</td>
								</tr>
							<% } %>
						</tbody>
					</table>
				<% } %>
				<% if(events.length > 0) { %>
					<table class="table table-striped">
						<h3 class="text-center mt-2">Events</h3>
						<thead class="thead-dark">
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Location</th>
								<th scope="col">Start Date</th>
								<th scope="col">End Date</th>
								<th scope="col">Description</th>
							</tr>	
						</thead>
						<tbody>
							<% for(var i in events) { %>
								<tr>
									<td><%= events[i].event_number %></td>
									<td><%= events[i].location %></td>
									<td><%= events[i].start_date %></td>
									<td><%= events[i].end_date %></td>
									<td><%= events[i].description %></td>
								</tr>
							<% } %>
						</tbody>
					</table>
				<% } %>
				<% if(users.length > 0) { %>
					<table class="table table-striped">
						<h3 class="text-center mt-2">Users</h3>
						<thead class="thead-dark">
							<tr>
								<th scope="col">ID</th>
								<th scope="col">First Name</th>
								<th scope="col">Last Name</th>
								<th scope="col">Email</th>
								<th scope="col">Phone Number</th>
								<th scope="col">Residency</th>
								<th scope="col">Address</th>
								<th scope="col">Building</th>
								<th scope="col">Room Number</th>
								<th scope="col">Commuter?</th>
								<th scope="col">Dormer?</th>
								<th scope="col">Faculty?</th>
							</tr>	
						</thead>
						<tbody>
							<% for(var i in users) { %>
								<tr>
									<td><%= users[i].user_number %></td>
									<td><%= users[i].firstname %></td>
									<td><%= users[i].lastname %></td>
									<td><%= users[i].email %></td>
									<td><%= users[i].phone_number %></td>
									<td><%= users[i].residency %></td>
									<td><%= users[i].address %></td>
									<td><%= users[i].building %></td>
									<td><%= users[i].room_number %></td>
									<td>
										<% if(users[i].commuter) { %>
											Yes
										<% } else { %>
											No
										<% } %>
									</td>
									<td>
										<% if(users[i].dormer) { %>
											Yes
										<% } else { %>
											No
										<% } %>
									</td>
									<td>
										<% if(users[i].faculty) { %>
											Yes
										<% } else { %>
											No
										<% } %>
									</td>
								</tr>
							<% } %>
						</tbody>
					</table>
				<% } %>
				<% if(garages.length > 0) { %>
					<table class="table table-striped">
						<h3 class="text-center mt-2">Garages</h3>
						<thead class="thead-dark">
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Name</th>
								<th scope="col">Location</th>
								<th scope="col">Full?</th>
								<th scope="col">Free Spots</th>
								<th scope="col">Total Spots</th>
							</tr>
						</thead>
						<tbody>
							<% for(var i in garages) { %>
								<tr>
									<td><%= garages[i].garage_number %></td>
									<td><%= garages[i].name %></td>
									<td><%= garages[i].location %></td>
									<td>
										<% if(garages[i].full) { %>
											Yes
										<% } else { %>
											No
										<% } %>
									</td>
									<td><%= garages[i].free_spots %></td>
									<td><%= garages[i].total_spots %></td>
								</tr>
							<% } %>
						</tbody>
					</table>
				<% } %>
			</div>
			<footer>
				<% include ../partials/footer %>
			</footer>
		</div>
		
	</body>
</html>